[Unit]
Description=Rotate wallpaper

[Service]
Type=oneshot
Environment=DISPLAY=:0.0
ExecStart=/bin/bash -c "~/.config/systemd/user/random_wallpaper.sh /mnt/z/Sync/pictures/wallpapers"

[Install]
WantedBy=multi-user.target suspend.target

